.main{width: 1210px;margin: 0px auto}
.main h3{padding: 30px 0;}
.ul1 li{float: left;width: 230px;border:1px solid #ccc;padding: 0 5px;text-align:center


}
.ul1 li img{text-align: center}
.ul1 li p{height: 42px; line-height: 22px;color: #666;}
.ul1 li span{color:#e4393c;text-align: left;  }
